// LEARN MORE設定

.more-button {
    margin-top: 3rem;
    float: right;
    margin-right: 3rem;
    @media (min-width: 769px) {
        margin-top: 4rem;
    }
    
}

.more-button {
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.more-button::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #7b7b7b;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
}
.more-button:hover::after {
  transform: scale(1, 1);
}

