.header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    
    padding: 0 0 0 2rem;
    box-sizing: border-box;
    @media (min-width: 769px) {
        padding: 0 3rem 0 1rem;
       
    }
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 6rem;
    }
}


// ハンバーガーメニューボタン
.nav-button {
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 6rem;
    font-size: 2.5rem;
    cursor: pointer;
    // opacity: 0.7;
    @media (min-width: 769px) {
        display: none;

    }
}

.sp-nav {
    position: absolute;
    top: 6rem;
    left: 0;
    display: none;
    z-index: 1000;
    width: 100%;
    padding-top: 8rem;
    font-size: 3rem;
    text-align: center;
    background-color: #fff;
    box-sizing: border-box;
    height: 100vh;
}

.sp-nav-list {
    z-index: 1000;
    padding: 0;
    
    margin: 0;
    z-index: 1000;
    list-style: none;
    li {
        margin-bottom: 2rem;
        
    }
    
    a {
        color: #7b7b7b;
        font-size: 4rem;
    }
}

.sp-nav-sns{
    display: flex;
    justify-content: center;

}
.sp-nav-sns li {
        list-style: none;
        font-size: 2.4rem;
        margin: 10px; 
        margin-right: 40px;
}

.sp-nav-sns a{
     color: #7b7b7b;
     display: flex;

}

// pcナビ

.pc-nav {
    display: none;
    @media (min-width: 769px) {
        display: block;
        
    }
}

.pc-nav-list {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    color: #7b7b7b;
   
    li {
        margin: 0 2rem 0 4rem;
        opacity: 0.8;
        font-size: 2rem;
       
    }
    
    a {
        color: #7b7b7b;
    }
}

.pc-nav-sns {
    //  display: none;
     
     @media (min-width: 769px) {
     position: fixed;    
     list-style: none;
     right: 15px;
     bottom: 200px;
     font-size: 35px;
     }
}