.top-skills{
    margin-top: 7rem;
}


.skill-pc{
    @media (min-width: 769px) {
        display: flex;
       
    }
}

.section-title-skill{
    display: flex;
    justify-content: center;
    
    @media (min-width: 769px) {
     font-size: 2.5rem;
     margin-right: 30rem;
     
    
    }
    
    
}

.skill-title h3{
    margin-right: 2rem;
}

.skill-text{
    margin: 1rem 3rem;
    line-height: 2.5rem;
}

.skill-section-title {
    padding: 0 20px;
}

// skill下層ページ

.sub-skill{
    padding: 20px;
    
}

.skill-sub-title{
    margin-top: 5rem;
    text-align: center;
    
}

.skill-box-img img{
    max-width: 100%;
}

.skill-category{
    text-align: center;
    
    @media (min-width: 769px){
        width: 40%;
        font-size: 20px;
    }
}

.category-list li{
    list-style: none;
    margin-right: 40px;
}

//skill-pc

.pc-skill-bigbox{
    @media (min-width: 769px){
        display: flex;
        justify-content: center;
        width: 80%;
    }
}

.pc-skill-box{
        @media (min-width: 769px){
        width: 70%;
    }
}