.top-skills{
    margin-top: 9rem;
}


.skill-pc{
    @media (min-width: 769px) {
        display: flex;
        text-align: center;
       
    }
}



.section-title-skill{
    display: flex;
    justify-content: center;
    
    @media (min-width: 769px) {
     font-size: 3.5rem;
    //  margin-right: 42rem;
     
    
    }
    
    
}
.top-skill-image{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    
}

//hover時にフラッシュ
.top-skill-image:hover img {
  opacity: 1;
  -webkit-animation: flash 2s;
  animation: flash 2s;
}
@-webkit-keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
    
}


// top-skill-imgをホバーした時に工夫したい

// .top-skill-image{
//   position: relative;
//   overflow: hidden;
//   width: 300px;
// }
// .top-skill-image{
//   position: absolute;
//   top: 0;
//   left: 0;
//   z-index: 2;
//   width: 100%;
//   height: 100%;
//   background: rgba(0,0,0,.6);
//   -webkit-transition: .3s;
//   transition: .3s;
//   opacity: 0;
// }
// .top-skill-image:hover figcaption {
//   opacity: 1;
// }

// .top-skill-image-text{
//     font-size: 18px;
//     text-align: center;
//     @media (min-width: 769px) {
//      font-size: 20px;
//     }
    
    
// }

.skill-title h3{
    margin-right: 2rem;
}

.skill-text{
    margin: 1rem 3rem;
    line-height: 2.5rem;
}

.skill-section-title {
    padding: 0 20px;
}

// skill下層ページ

.sub-skill{
    padding: 20px;
    @media (min-width: 769px){
        font-size: 3rem;
    }
    
}

.skill-sub-title{
    margin-top: 5rem;
    text-align: center;
    
}

.skill-box-img img{
    max-width: 100%;
}

.skill-category{
    text-align: center;
    
    @media (min-width: 769px){
        width: 40%;
        font-size: 20px;
    }
}

.category-list li{
    list-style: none;
    margin-right: 40px;
}

//skill-pc

.pc-skill-bigbox{
    @media (min-width: 769px){
        display: flex;
        justify-content: center;
        width: 80%;
    }
}

.pc-skill-box{
    // box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
    @media(min-width: 769px){
        width: 70%;
    }
}

.pc-skill-box img{
    box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
}




