@charset "UTF-8";
/* 文字コードの指定 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
html {
  font-size: 62.5%;
  font-color: #7b7b7b;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Chalkboard";
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.75;
  color: #7b7b7b;
  background-color: #fff;
}
@media (min-width: 769px) {
  body {
    font-size: 1.6rem;
  }
}

a {
  color: #7b7b7b;
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.wrapper {
  max-width: 112rem;
  margin: 0 auto;
}

p {
  font-family: "Noto Sans JP", sans-serif;
}

h5 {
  font-size: 18px;
}

.header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  padding: 0 0 0 2rem;
  box-sizing: border-box;
}
@media (min-width: 769px) {
  .header {
    padding: 0 3rem 0 1rem;
  }
}
.header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
}

.nav-button {
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 6rem;
  font-size: 2.5rem;
  cursor: pointer;
}
@media (min-width: 769px) {
  .nav-button {
    display: none;
  }
}

.sp-nav {
  position: absolute;
  top: 6rem;
  left: 0;
  display: none;
  z-index: 1000;
  width: 100%;
  padding-top: 8rem;
  font-size: 3rem;
  text-align: center;
  background-color: #fff;
  box-sizing: border-box;
  height: 100vh;
}

.sp-nav-list {
  z-index: 1000;
  padding: 0;
  margin: 0;
  z-index: 1000;
  list-style: none;
}
.sp-nav-list li {
  margin-bottom: 2rem;
}
.sp-nav-list a {
  color: #7b7b7b;
  font-size: 4rem;
}

.sp-nav-sns {
  display: flex;
  justify-content: center;
}

.sp-nav-sns li {
  list-style: none;
  font-size: 2.4rem;
  margin: 10px;
  margin-right: 40px;
}

.sp-nav-sns a {
  color: #7b7b7b;
  display: flex;
}

.pc-nav {
  display: none;
}
@media (min-width: 769px) {
  .pc-nav {
    display: block;
  }
}

.pc-nav-list {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  color: #7b7b7b;
}
.pc-nav-list li {
  margin: 0 2rem 0 4rem;
  opacity: 0.8;
  font-size: 2rem;
}
.pc-nav-list a {
  color: #7b7b7b;
}

@media (min-width: 769px) {
  .pc-nav-sns {
    position: fixed;
    list-style: none;
    right: 15px;
    bottom: 200px;
    font-size: 35px;
  }
}

.top {
  margin-top: 8rem;
  padding: 20px;
}
@media (min-width: 769px) {
  .top {
    display: flex;
    justify-content: center;
  }
}

.name {
  position: absolute;
  right: 30px;
  z-index: 1;
  margin-top: 40px;
  color: #525151;
}
@media (min-width: 769px) {
  .name {
    font-size: 20px;
  }
}

.main-image img {
  border-radius: 50%;
  width: 16rem;
  height: 16rem;
}

.carousel {
  width: 100%;
  margin: 0 auto;
  height: auto;
}

.slick-slide img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}
@media (min-width: 769px) {
  .slick-slide img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.slick-dots {
  bottom: 25px;
  right: 40px;
}

@media (min-width: 769px) {
  .about-pc {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: 100%;
  }
}

.section-title {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
@media (min-width: 769px) {
  .section-title {
    font-size: 2.5rem;
  }
}

.name-image {
  text-align: center;
}

.name-image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto;
}
@media (min-width: 769px) {
  .name-image img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
  }
}

.about-title h3 {
  margin-right: 2rem;
}

.about-text {
  margin: 1rem 3rem;
  line-height: 2.5rem;
}
.sub-about {
  padding: 20px;
  text-align: center;
}
@media (min-width: 769px) {
  .sub-about {
    background-position: center center;
  }
}

.about-sub-title {
  margin-top: 5rem;
}

.about-image-box {
  padding: 4rem 0;
}

.about-image-box-text {
  margin-top: 5rem;
}
@media (min-width: 769px) {
  .about-image-box-text {
    z-index: 100;
    position: absolute;
    font-size: 3.5rem;
    text-align: center;
  }
}

@media (min-width: 769px) {
  .message-pc {
    display: flex;
    justify-content: space-around;
  }
}

.message-image {
  margin-top: 3rem;
}

.message-image img {
  border-radius: 50%;
  width: 16rem;
  height: 16rem;
  object-fit: cover;
}
@media (min-width: 769px) {
  .message-image img {
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
    object-fit: cover;
  }
}

.top-skills {
  margin-top: 7rem;
}

@media (min-width: 769px) {
  .skill-pc {
    display: flex;
  }
}

.section-title-skill {
  display: flex;
  justify-content: center;
}
@media (min-width: 769px) {
  .section-title-skill {
    font-size: 2.5rem;
    margin-right: 30rem;
  }
}

.skill-title h3 {
  margin-right: 2rem;
}

.skill-text {
  margin: 1rem 3rem;
  line-height: 2.5rem;
}

.skill-section-title {
  padding: 0 20px;
}

.sub-skill {
  padding: 20px;
}

.skill-sub-title {
  margin-top: 5rem;
  text-align: center;
}

.skill-box-img img {
  max-width: 100%;
}

.skill-category {
  text-align: center;
}
@media (min-width: 769px) {
  .skill-category {
    width: 40%;
    font-size: 20px;
  }
}

.category-list li {
  list-style: none;
  margin-right: 40px;
}

@media (min-width: 769px) {
  .pc-skill-bigbox {
    display: flex;
    justify-content: center;
    width: 80%;
  }
}

@media (min-width: 769px) {
  .pc-skill-box {
    width: 70%;
  }
}

.more-button {
  margin-top: 2rem;
  float: right;
  margin-right: 3rem;
}

.footer {
  margin-top: 7rem;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
