@charset "UTF-8";
/* 文字コードの指定 */
html {
  font-size: 62.5%;
  font-color: #7b7b7b;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Chalkboard";
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.75;
  color: #7b7b7b;
  background-color: #fff;
}
@media (min-width: 769px) {
  body {
    font-size: 1.6rem;
  }
}

a {
  color: #7b7b7b;
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.wrapper {
  max-width: 112rem;
  margin: 0 auto;
}

p {
  font-family: "Noto Sans JP", sans-serif;
}

.header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  padding: 0 0 0 2rem;
  box-sizing: border-box;
}
@media (min-width: 769px) {
  .header {
    padding: 0 3rem 0 1rem;
  }
}
.header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
}

.nav-button {
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 6rem;
  font-size: 2.5rem;
  cursor: pointer;
}
@media (min-width: 769px) {
  .nav-button {
    display: none;
    color: #b19833;
  }
}

.sp-nav {
  position: absolute;
  top: 6rem;
  left: 0;
  display: none;
  z-index: 1000;
  width: 100%;
  padding-top: 8rem;
  font-size: 3rem;
  text-align: center;
  background-color: #fff;
  box-sizing: border-box;
  height: 100vh;
}

.sp-nav-list {
  z-index: 1000;
  padding: 0;
  margin: 0;
  z-index: 1000;
  list-style: none;
}
.sp-nav-list li {
  margin-bottom: 2rem;
}
.sp-nav-list a {
  color: #7b7b7b;
  font-size: 4rem;
}

.sp-nav-sns {
  display: flex;
  justify-content: center;
}

.sp-nav-sns li {
  list-style: none;
  font-size: 2.4rem;
  margin: 10px;
  margin-right: 40px;
}

.sp-nav-sns a {
  color: #7b7b7b;
  display: flex;
}

.pc-nav {
  display: none;
}
@media (min-width: 769px) {
  .pc-nav {
    display: block;
  }
}

.pc-nav-list {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  color: #7b7b7b;
}
.pc-nav-list li {
  margin: 0 2rem 0 4rem;
  opacity: 0.8;
  font-size: 2rem;
}
.pc-nav-list a {
  color: #7b7b7b;
}

.top {
  margin-top: 8rem;
  padding: 20px;
}

.name {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
}

.main-image img {
  border-radius: 50%;
  width: 16rem;
  height: 16rem;
}

.carousel {
  width: 100%;
  margin: 0 auto;
  height: auto;
}

.section-title {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.about-title h3 {
  margin-right: 2rem;
}

.about-sub {
  margin-top: 0.3rem;
}

.about-text {
  margin: 1rem 3rem;
  line-height: 2.5rem;
}

.sub-about {
  padding: 20px;
  text-align: center;
}

.about-sub-title {
  margin-top: 5rem;
}

.about-image-box {
  padding: 4rem 0;
}

.about-image-box-text {
  margin-top: 5rem;
}

.message-image {
  margin-top: 3rem;
}

.message-image img {
  border-radius: 50%;
  width: 16rem;
  height: 16rem;
}

.top-skills {
  margin-top: 7rem;
}

.section-title {
  display: flex;
  justify-content: center;
}

.skill-title h3 {
  margin-right: 2rem;
}

.skill-sub {
  margin-top: 0.3rem;
}

.skill-text {
  margin: 1rem 3rem;
  line-height: 2.5rem;
}

.skill-section-title {
  padding: 0 20px;
}

.sub-skill {
  padding: 20px;
}

.skill-sub-title {
  margin-top: 5rem;
  text-align: center;
}

.skill-box-img img {
  max-width: 100%;
}

.skill-category {
  text-align: center;
}
@media (min-width: 769px) {
  .skill-category {
    width: 50%;
  }
}

.category-list li {
  list-style: none;
  margin-right: 40px;
}

@media (min-width: 769px) {
  .pc-skill-bigbox {
    display: flex;
  }
}

.more-button {
  margin-top: 2rem;
  float: right;
  margin-right: 3rem;
}

.footer {
  margin-top: 7rem;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
